In [4]:
from sklearn import preprocessing as scikit
import pandas
import os
import re


input_data = pandas.read_csv(os.getcwd()+'/dat/data.csv', header=None, skiprows=1)

period_messy = input_data[1].str.replace('[ \\\\-]','')

period = period_messy.str.extract('^(?P<year>(?:20)?[0-9]{2})(?P<nro>pri(?:mero)?|seg(?:undo)?|ii?|0?[12]s?)$', re.IGNORECASE)

period_p2 = period_messy.str.extract('^(?P<nro>pri(?:mero)?|seg(?:undo)?|ii?|0?[12]s?)(?P<year>(?:20)?[0-9]{2})$', re.IGNORECASE)

period.update(period_p2)

period.nro.str.replace('pri(mero)?|seg(undo)?|ii?|0?[12]s?', 'hola', flags=re.IGNORECASE)
period

     year  nro
0    2015    I
1     NaN  NaN
2     NaN  NaN
3     NaN  NaN
4     NaN  NaN
5    2015  pri
6     NaN  NaN
7    2014  Seg
8    2015  Pri
9    2015  pri
10   2015  01S
11   2015   01
12     15  PRI
13   2015  PRI
14   2015  pri
15   2014  seg
16   2015  PRI
17   2014  Seg
18   2015  pri
19   2015  pri
20   2014  seg
21   2015  Pri
22   2014  02S
23   2015  PRI
24   2015  PRI
25   2014  Seg
26   2014  seg
27   2014  seg
28   2015  PRI
29   2015  pri
..    ...  ...
160   NaN  NaN
161   NaN  NaN
162  2015  Pri
163    15  Pri
164   NaN  NaN
165  2014  Pri
166   NaN  NaN
167  2015  pri
168   NaN  NaN
169   NaN  NaN
170   NaN  NaN
171   NaN  NaN
172  2015  Pri
173  2015  01s
174  2015    1
175  2015  pri
176   NaN  NaN
177  2014   II
178  2015  PRI
179   NaN  NaN
180   NaN  NaN
181  2015    I
182    14  SEG
183  2015    I
184   NaN  NaN
185   NaN  NaN
186   NaN  NaN
187  2015  seg
188  2014  seg
189  2014  Seg

[190 rows x 2 columns]

In [15]:
input_data = pandas.read_csv(os.getcwd()+'/dat/data.csv', header=None, skiprows=1)

period_messy = input_data[1].str.replace('[ \\\\-]','')
period = period_messy.str.extract('^(?P<year>(?:20)?[0-9]{2})(?P<nro>pri(?:mero)?|seg(?:undo)?|ii?|0?[12]s?)$', re.IGNORECASE)
period_p2 = period_messy.str.extract('^(?P<nro>pri(?:mero)?|seg(?:undo)?|ii?|0?[12]s?)(?P<year>(?:20)?[0-9]{2})$', re.IGNORECASE)

period.update(period_p2)

period.nro = period.nro.str.replace('pri(mero)?|i|0?1s?', '1', flags=re.IGNORECASE).str.replace('seg(undo)?|ii|0?2s?', '2', flags=re.IGNORECASE)
period.year = period.year.str.replace('^[0-9]{2}$', lambda str: '20'+str)

period

     year  nro
0    2015    1
1     NaN  NaN
2     NaN  NaN
3     NaN  NaN
4     NaN  NaN
5    2015    1
6     NaN  NaN
7    2014    2
8    2015    1
9    2015    1
10   2015    1
11   2015    1
12    NaN    1
13   2015    1
14   2015    1
15   2014    2
16   2015    1
17   2014    2
18   2015    1
19   2015    1
20   2014    2
21   2015    1
22   2014    2
23   2015    1
24   2015    1
25   2014    2
26   2014    2
27   2014    2
28   2015    1
29   2015    1
..    ...  ...
160   NaN  NaN
161   NaN  NaN
162  2015    1
163   NaN    1
164   NaN  NaN
165  2014    1
166   NaN  NaN
167  2015    1
168   NaN  NaN
169   NaN  NaN
170   NaN  NaN
171   NaN  NaN
172  2015    1
173  2015    1
174  2015    1
175  2015    1
176   NaN  NaN
177  2014   11
178  2015    1
179   NaN  NaN
180   NaN  NaN
181  2015    1
182   NaN    2
183  2015    1
184   NaN  NaN
185   NaN  NaN
186   NaN  NaN
187  2015    2
188  2014    2
189  2014    2

[190 rows x 2 columns]